.NoteBox {
    width: 95%;
    background: #B59B77;
    position: relative;
    z-index: 1;
    display: flex;
    box-shadow: 5px 5px 5px rgba(150, 150, 150, 0.381);
}

.NotePage {
    width: 90%;
    background: #fff;
    z-index: 2;
    margin: 10px 10px 0 auto;
    padding: 50px 0;
    box-shadow: 5px 5px 5px rgba(150, 150, 150, 0.381);
}

.More {
    width: 100%;
    background: #F9F9F9;
    margin: 100px 0 0 0;
    padding: 100px 0;
}

.WkwkScreen {
    width: 100%;
}

.ColorPalletBox {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 40px;
}

.MainColor {
    width: 120px;
    height: 120px;
    background: #6084E7;
    border-radius: 5%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

.BaseColor {
    width: 120px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 5%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

.AccentColor {
    width: 120px;
    height: 120px;
    background: #6FFF65;
    border-radius: 5%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

.ColorCode {
    text-align: center;
}

.ColorText {
    margin: 0 auto;
    width: 50%;
    font-size: 0.9rem;
    color: #403A2F;
    margin-top: 30px;
}

.Main {
    color: #6084E7;
}

.Accent {
    color: #63e15a;
}

.MockBox {
    display: flex;
    justify-content: center;

    gap: 20px;
}

.Head {
    color: #403A2F;
}

.Text {
    color: #857f73;
    font-size: 0.8rem;
}

.Mock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.MoreWork {
    width: 300px;
    height: 50px;
    border: #DE9F84 solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 50px auto;
    border-radius: 20px;

    position: relative;
    overflow: hidden;
    color: #DE9F84;
    z-index: 1;

    text-decoration: none;
    /* Link の下線を消す */
    cursor: pointer;
    /* クリック感 */
}

.MoreWork::after {
    content: '';
    position: absolute;
    inset: 0;
    /* top/left/width/height をまとめて指定 */
    background: #DE9F84;
    transform: scale(0, 1);
    /* 横方向にゼロ */
    transform-origin: left top;
    /* 左から右に展開 */
    transition: transform .3s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
    /* 中のテキストより奥へ */
}

.MoreWork:hover {
    color: #fff;
}

.MoreWork:hover::after {
    transform: scale(1, 1);
    /* 横いっぱいに広がる */
}

.WorksBox {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin: 100px auto;
    max-width: 900px;
}