.more {
    width: 80%;
    margin: 50px auto;
    border-bottom: 1px solid #d9d9d9;
}

.Title {
    padding: 6px 40px;
    background: #a2a2a2;
    border-radius: 5px;
    color: #fff;
    margin: 0 20px 0 20px;
}

.Subtitle {
    color: #51a69c;
    font-size: 1.7rem;
    margin: 30px 20px 30px 20px;
}

.text {
    color: #403A2F;
    margin-bottom: 50px;
    font-size: 0.9rem;
    margin: 0 20px 40px 20px;
    white-space: pre-line;
}