.more {
    width: 80%;
    margin: 50px auto;
    border-bottom: 1px solid #898888;
}

.TitleBox {
    width: 200px;
    height: 40px;
    background: #898888;
    border-radius: 30px;
}

.Title {
    display: flex;
    justify-content: center;
    line-height: 2.5rem;
    color: #fff;
}

.text {
    margin: 40px 20px;
    color: #403A2F;
}